*
{
    margin: 0 ;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box ;


}
#message {
    color: red;
  }



.left{
    display: inline-block;
    color: white;
    padding: 20px;
    position: absolute;
    left: 10px;
    top: 10px;
    margin: black;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
}
.left img{
    width: 136px;    
}
.left div{
    line-height: 10px;
    font-size: 26px ;
    text-align: center;
    border: black;
}

body{
    font-size: 18px;
    background-image: url(https://info.ehl.edu/hubfs/Blog-EHL-Insights/Blog-Header-EHL-Insights/AdobeStock_264542845.jpeg);
  background-position: center;
  background-size: cover ;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.container{
    background: white;
    width: 500px ;
    padding : 25px;
    margin : 50px auto 0 ;
    border-top: 5px solid red;
    box-shadow: 0 0 7px  5px rgba(0,0,0,0.5);
}
.container h2 {
    font-size: 24px;
    line-height: 24px;
    padding: 30px;
    text-align: center;
}
.input-name{
    width:90% ;
    position: relative;
    margin: 20px auto;
    border-radius: 5px;
}
.lock{
    padding: 8px 11px;
}
.name{
    width: 45%;
    padding: 8px 0 8px 40px;
}
.input-name span
{ 
    margin-left: 35px;
}
.text-name
{
    width: 400px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding:8px 0 8px 40px ;
}
.input-name i 
{
    position: absolute;
    font-size: 18px;
    color: black;
    border-right: 1px solid #cccccc ;
}
.name{
    width: 45%;
    margin-bottom: 10px;
}
.button  {
    background-color: rgb(27, 210, 27);
    width: 100%;
    height: 50px;
    cursor: pointer;
    
}
.radio-button{
    width: 30%;
margin-left: 10px;
}
.required{
    background-color: #cccccc;
}
.req{
    color: red;
}
.eye{
    position: absolute;
   right: 10%;
   top: 20%;
}
#hide1{
    display: none;
}
.eye1{
    position: absolute;
    right: 10%;
    top: 20%;
}
#hide3{
    display: none;
}
.alert{
    display: flex;
    align-items: center;
    margin-top: -20px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.alert .errorIcon {
    margin-right: 8px;
    color: #D93025;
    font-size: 14px;
    display: none;
}
.alert .text{

    color:#a6a6a6 ;
    font-size: 14px;
    font-weight: 500;
}